<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN_CONSOLE"
              value="[%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - client: [%X{clientIp}] -> server: [%X{serverIp}] %msg%n"/>
    <property name="LOG_PATTERN_FILE"
              value="[%d{yyyy-MM-dd HH:mm:ss, Asia/Seoul}] [%thread] %-5level [%logger{36}:%L] - client: [%X{clientIp}] -> server: [%X{serverIp}] %msg%n"/>

    <springProfile name="!prod">
        <include resource="logback/console-appender.xml"/>
        <include resource="logback/file-dev-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-DEV"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/file-info-appender.xml"/>
        <include resource="logback/file-warn-appender.xml"/>
        <include resource="logback/file-error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
