name: Android CI [ an ]

on:
  push:
    branches:
      - "an"
  pull_request:
    branches:
      - "an"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: ./android/TodokTodok

    permissions:
      contents: read
      pull-requests: write
      issues: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Restore Gradle cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew

      - name: Restore keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo "$KEYSTORE_BASE64" | base64 --decode > todoktodok.jks
          ls -al todoktodok.jks

      - name: Create local.properties
        env:
          RELEASE_BASE_URL: ${{ secrets.RELEASE_BASE_URL }}
          DEBUG_BASE_URL: ${{ secrets.DEBUG_BASE_URL }}
        run: |
          echo release_store_file=todoktodok.jks >> ./local.properties
          echo "KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}" >> local.properties
          echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> local.properties
          echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> local.properties
          echo release.base.url=\""${RELEASE_BASE_URL}"\" >> ./local.properties
          echo debug.base.url=\""${DEBUG_BASE_URL}"\" >> ./local.properties

      - name: Create google-services.json
        env:
          GOOGLE_SERVICES_JSON_DEBUG: ${{ secrets.GOOGLE_SERVICES_JSON_DEBUG }}
          GOOGLE_SERVICES_JSON_RELEASE: ${{ secrets.GOOGLE_SERVICES_JSON_RELEASE }}
        run: |
          mkdir -p ./app/src/debug
          mkdir -p ./app/src/release
          echo "${GOOGLE_SERVICES_JSON_DEBUG}" > ./app/src/debug/google-services.json
          echo "${GOOGLE_SERVICES_JSON_RELEASE}" > ./app/google-services.json

      - name: Clean Project
        run: ./gradlew clean

      - name: Run ktlint Check
        id: ktlint
        run: |
          ./gradlew ktlintCheck --build-cache --parallel

      - name: Run Unit Tests
        id: test
        run: |
          ./gradlew testDebugUnitTest --build-cache --parallel

      - name: Assemble Debug APK
        id: assembleDebug
        run: |
          ./gradlew assembleDebug --build-cache --parallel